.follows .follows-body {
  margin-top: 6rem;
  margin-inline: max(4rem, 20%);
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  /* grid-template-columns: repeat(3, 1fr);
  gap: 2rem; */
}

.follows .entry,
.follows .entry-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.follows .entry {
  border-radius: 1em;
  padding-block: 1rem;
  border: 2px solid var(--clr-accent);
  box-shadow: 0 0 15px var(--clr-accent);
  transition: transform 300ms linear;
}

.follows .entry:hover,
.follows .entry:focus {
  transform: scale(1.01);
}

.follows .entry p {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.follows .entry-img {
  width: 40%;
  border-radius: 1em;
  margin-bottom: 1rem;
}

.follows .entry-name {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.15rem;
  text-shadow: 0 0 1rem var(--clr-accent);
  margin-bottom: 0.2rem;
}

.follows .entry-name a:hover,
.follows .entry-name a:focus {
  text-decoration: underline;
}

@media screen and (min-width: 640px) {
  .follows .follows-body {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1040px) {
  .follows .follows-body {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.follow-buttons {
  margin-block: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.follow-buttons .btn1,
.follow-buttons .btn2 {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}

.follow-buttons .btn2 div {
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
}

.follow-buttons .btn1 div {
  clip-path: polygon(
    40% 0%,
    40% 20%,
    100% 20%,
    100% 80%,
    40% 80%,
    40% 100%,
    0% 50%
  );
}

.follow-buttons .btn1 div,
.follow-buttons .btn2 div {
  aspect-ratio: 1;
  background-color: var(--clr-accent);
}
